body{
   background-color: purple;
   font-family: 'Baloo Bhaina', cursive;
}
h1{
   text-align: center;
}
.out{
   position:absolute;
   height: 450px;
   width:400px;
   background-color: black;
   color:white;
}
.difficult{
   display: inline-block;
}
.gameBody{
   position: relative;
   margin: 0 auto;
   background-color: white;
   border: solid 2px #0044FF;
   height: 450px;
   width: 400px;
   font-size: 30px;
   text-align: center;
   .gameNav{
      font-size: 20px;
      background-color: #00ffff;
      span{
         cursor: auto;
         color:black;
         margin-left: 10px;
      }
   }
   .question{
      box-sizing: content-box;
      padding:20px;
      color: blue;
   }
   span{
      cursor: pointer;
      color:red;
      margin-left: 0 auto;
   }
   span:nth-child(2){
      color:blue;
      margin: 0 20px;
   }
   span:nth-child(3){
      color:green;
   }
   span:nth-child(5){
      margin: 0 20px;
   }
   span:nth-child(8){
      margin: 0 20px;
   }
}
